<!DOCTYPE html>
<html>
<%- include('partial/head.ejs') %>
<body background="11.jfif"> 
    <h3 style="font-size:30px"> <a href="https://weibo.com/u/5372556014?refer_flag=0000015012_&from=feed&loc=nickname">李一桐 </a></a></h3>
    <ul style="position:absolute ; right:0px ; top:0px ; display:inline">
        <li style="display:inline"><a href="/home">搜尋頁面</a></li>
        <% if(login==true){ %>
            <li style=" display:inline"><a href="/logout">logout</a></li>
        <% }else{ %>
            <li style=" display:inline"><a href="/login">login</a></li>
            <li style=" display:inline"><a href="/signup">signup</a></li>
        <% } %>
    </ul>
    <p>李一桐（1990年9月6日－），山東省濟南市人，中國大陸女演員，畢業於北京舞蹈學院，因飾演2017版《射鵰英雄傳》少女黃蓉，<br/>獲廣大武俠影迷喜愛與讚賞，不僅獲得了「桐蓉兒」的稱號，更因高顏值、高人氣，被評選為虎撲女神。而於2019年《鶴唳華亭》<br/>中，更精湛演繹了陸文昔一角，絲絲入扣，深獲好評。</p>
    <img style="position:relative ; left:70px; top:0px" ; src="7.jpg" width="320">
    <img style="position:relative ; left:70px; top:0px" ; src="itung.jfif" width="372">
    <h3>代表作</h3>
    <ul>  
        <li class="title"> 我的時代你的時代</li>   
        <p> 吳白（胡一天飾）憑藉不懈努力與過人的天賦，成為全國機器人大賽中年紀最輕、實力最強的一匹黑馬。他組建團隊參賽，終於在中國總決賽中，與他的機器人大賽啟蒙人艾情（李一桐飾）同台競技；此後，他們一同代表中國參加亞錦賽，為中國取得了一系列榮譽。兩人皆立志通過機器人大賽這項運動來提升科技機器人在國內青少年一代群體中的普及和應用，從而帶動科技興國提速。作為對手，吳白堅毅的性格、高超的技術和天賦，吸引著艾情；作為戰隊領隊，艾情對行業的熱愛、對夢想的執著、以及過人的戰術頭腦，令吳白敬服。二人在相互扶持和競爭中被彼此吸引，攜手帶領各自的團隊，為中國贏得世界冠軍。</p>
        <img class="box" ; src="1.jpg" width="320"><br/>
        <iframe class="box" width="320"  src="https://www.youtube.com/embed/IHf2VptmIjM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <li class="title"> 媚者無疆 </li>
        <p>《媚者無疆》後唐亂世，少女七雪被父拋棄賣到青樓，在一次陰差陽錯之下誤入神秘的姽嫿城，被賜名晚媚。她在一次次任務中艱難掙扎，幸得身世成謎的影子長安多方衛護，兩人斡旋於朝野紛爭，又因姽嫿城的禁忌，受困於內心對於對方的感情。晚媚涅槃重生，成為姽嫿城新任城主，而這一切都在姽嫿城幕後的主人，公子的算計之中。</p>
        <img class="box" ; src="2.jpg" width="320"> 
        <li class="title"> 鶴立華亭 </li>
        <p>《鶴唳華亭》皇太子蕭定權少年喪母喪妹不與父親親近，早年的經歷讓他對親情極度渴望，總是想竭力留住身邊僅有的親人。對於父親，蕭定權又敬愛又畏懼，既期望獲得父親的肯定，又害怕面對希望落空時的窘境。而齊王及其岳父中書令李柏舟屢屢製造禍端，不但迫害了蕭定權身邊僅有的珍視之人，還令蕭定權與父親間的隔閡日漸加深。太子老師盧世瑜曾希望清流陸英接替自己成為太子堅實後盾，沒想到陰差陽錯讓陸英之女陸文昔與太子偶遇相知，進而暗許終身。親近之人相繼被害后，深受盧世瑜儒家思想熏陶的蕭定權，堅定地以家國天下的君子準則和小人陰謀做鬥爭。而陸文昔在父兄遭難后化身東府女官默默守護在蕭定權身邊，先後幫助他解決了軍馬案、童謠案，最終使父兄的冤屈得以昭雪，奸佞巨蠹得以伏法。蕭定權和陸文昔也在互相配合間情感不斷加深。兩個小怯而大勇的人不畏艱險不畏犧牲，為了社稷的安寧相持相伴。</p>
        <img class="box" ; src="3.jpg" width="320">
    </ul>
    <hr/> 
    <h3> 電視劇 </h3>
    <table style="position:relative ; left:300px; top:0px" ; border="1" width = "800" cellpadding = "5">
        <tr>  
            <td class="back">年份</td>   
            <td class="back" >劇名</td>
            <td class="back">角色</td>
        </tr>
        <tr>
            <td rowspan="2">2016</td>
            <td>半妖傾城</td>
            <td rowspan="2">聶傾城</td>
        </tr>
        <tr>
            <td>半妖傾城2</td>
        </tr>
        <tr>
            <td>2017</td>
            <td>射鵰英雄傳</td>
            <td>黃蓉</td>
        </tr>
        <tr>
            <td>2018</td>
            <td>媚者無疆</td>
            <td>蘇七雪/晚媚</td>
        </tr>
        <tr>
            <td>2019</td>
            <td>鶴唳華亭</td>
            <td>陸文昔/顧瑟瑟（阿寶）</td>
        </tr>
        <tr>
            <td>2020</td>
            <td>了不起的女孩</td>
            <td>路可</td>
        </tr>
        <tr>
            <td>2021</td>
            <td class="keyword">我的時代你的時代</td>
            <td>艾情</td>
        </tr>
    <table>
    <br/>
    <br/>
    <br/>
    <br/>
    <h3>留言區:</h3>
    <% if(login==true){ %>
        <form action="/itung" method="POST">
            <input type="hidden" value="李一桐" name="name">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <h5>請輸入你想說的話:</h5>
            <input type="text" name="talk" placeholder="你的留言">
            <button type="submit">Submit</button>
            <h5>討論區:</h5>
        </form>
        <% if(title.length>0 ){ %>
            <% let i=0; %>
            <% let str="B"; %>
            <% title.forEach(blog =>{ %>
                <% if(blog.name=="李一桐"){ %>
                    <% i++; %>
                    <form action="/delete/itung" method="post">
                        <span><a href='./reply/<%= blog.id %>'><%= str %><%= i %></a></span>
                        <input type="hidden" value="<%= blog.id %>" name="id">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button style="color:blue ; border:0px ; background-color:none" ; type='submit'>delete</button>
                        <span class='talk'><%= blog.talk %></span>
                    </form>
                    <br/>
                    <br/>
                    <form action="/reply" method="post">
                        <input type="hidden" value="<%= blog.id %>" name="id">
                        <input type="hidden" value="<%= blog.name %>" name="name">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="text" name="talk">
                        <button style="color:brown ; border:0px ; background-color:none" ; type='submit'>reply</button>
                    </form>
                    <hr/>
                <% } %>
            <% }) %>
        <% }else{ %>
            <h5>沒有任何評論</h5>
        <% } %>
    <% }else{ %>
        <h5>請登入</h5>
    <% } %>
</body>
</html>