<!DOCTYPE html>
<html>
    <%- include('partial/head.ejs') %>
<body background="11.jfif">
    <h3 style="font-size:30px"><a href="https://weibo.com/u/5653796775?refer_flag=0000015012_&from=feed&loc=nickname">趙露思</a></h3>
    <ul style="position:absolute ; right:0px ; top:0px ; display:inline">
        <li style="display:inline"><a href="/home">搜尋頁面</a></li>
        <% if(login==true){ %>
            <li style=" display:inline"><a href="/logout">logout</a></li>
        <% }else{ %>
            <li style=" display:inline"><a href="/login">login</a></li>
            <li style=" display:inline"><a href="/signup">signup</a></li>
        <% } %>
    </ul>
    <p>中國大陸影視女演員。生於中國四川省成都市，高中畢業於西南交大附屬中學，後就讀於台灣明道大學服裝設計系。2017年參演古裝言情劇《鳳囚凰》從而進入演藝圈。 2018年《鳳囚凰》播出，因所飾演的馬雪雲一角，以及同年主演的《哦！我的皇帝陛下》洛菲菲一角，而為人熟悉。 2020年，憑藉所主演的《傳聞中的陳芊芊》以及《我，喜歡你》走紅，分別以陳芊芊及顧勝男一角獲得關注度與討論度。 2021年，在《長歌行》飾演溫柔內斂的李樂嫣，該角色與之前古靈精怪、活潑可愛的角色不同，顛覆大家對她的既定印象。</p>
    <img style="position:relative ; left:100px; top:0px" ; src="4.jpg" width="320">
    <img style="position:relative ; left:100px ; top:0px" ; src="5.jfif" width="500">
    <h3>代表作</h3>
    <ul>
        <li class="title">我，喜歡你</li>
        <p>《我，喜歡你》小魔女顧勝男人生中最不可思議的事情，就是在慘遭失戀、失業雙重打擊后，等著王子騎著白馬來拯救她，可誰料想這個王子竟是刁嘴又挑剔，毒舌且自大，升級版的「唐僧」，但是這個「唐僧」不吃素！毒舌又傲嬌的吃貨路晉與天才廚師顧勝男一見面就「相剋、相煞」事故不斷，卻又每每被她精湛的手藝吸引。在這段雞飛狗跳的相處過程中，兩人宿命般地越靠越近。 終於有一天，霸道總裁路晉卸下了精英的高冷麵具變身忠犬男友，小魔女褪去了刁蠻任性學會如何去愛，二人在美食中尋覓到簡單的幸福。上帝偶爾會瞌睡，丘比特有時也會手抖，但命中注定的那個人終會踏遍千山萬水與你相會。終於等到你，餘生都是你。</p>
        <img class="box"; src="8.jpg" width="320">
        <li class="title">一不小心撿到愛</li>
        <p>講述“小白兔”顧安心一不小心撿了爭奪集團繼承權遭遇事故“大灰狼”凌越回家，生活及身份迥異的兩人同居歡喜過招，在現實生活中開啟高甜戀愛副本的故事。快遞小妹顧安心意外撞倒在集團繼承權中遭遇事故的“被害妄想症“總裁凌越，“失憶”的凌越要求安心負責，安心因生活拮据被迫將凌越“撿”回家治療，兩個性格迥異、身份差異巨大的男女在同居生活中碰撞出各種火花，“冤大頭”女主被“碰瓷”，高冷男主萌態百出，一段散發著清甜氣息的甜趣故事就此展開。</p>
        <img class="box"; src="9.jfif" width="320">
        <li class="title">傳聞中的陳芊芊</li>
        <p>現代小編劇陳小千穿越到她自己寫的劇本中。原來的劇本里有兩座城：一座是以女子為尊的花垣城；一座是以男子為尊的玄虎城；女主角是花垣城的二郡主陳楚楚，男主角是玄虎城的少城主韓爍。原本男女主會各種相愛相殺，最後男主會被 女主殺害。但是由於編劇陳小千穿越成為她筆下的女配角：花垣城任性妄為的三公主陳芊芊，劇情的走向被徹底改變。原本三公主第三集就會被韓爍毒死。但由於穿越過來的編劇對人物和情節非常熟悉，因此能夠趨吉避害、逃過死劫，後無意間令男主韓爍愛上三公主陳芊芊，一往情深，成為寵妻狂魔。陳芊芊也愛上韓爍，並為了讓男主避開原本劇本里安排的悲慘命運而費盡心力，不惜被男主誤會。原本的女主角陳楚楚黑化，認為是芊芊奪走她的一切。因此對芊芊展開報復。危機關頭韓爍挺身而出，保護芊芊。最後迎來劇本中「天門大開，異彩漫天」的大結局，編劇陳小千終於回到現實中。</p>
        <img class="box"; src="10.jfif" width="320">
    </ul>
    <hr/>
    <h3>電視劇</h3>
    <table style="position:relative ; left:300px; top:0px" ; border="1" width = "800" cellpadding = "5">
        <tr class="back">
            <td>年份</td>
            <td>劇名</td>
            <td>角色</td>
        </tr>
        <tr>
            <td rowspan='2'>2019</td>
            <td>青囊傳</td>
            <td>葉雲裳</td>
        </tr>
        <tr>
            <td>天雷一部之春花秋月</td>
            <td>春花</td>
        </tr>
        <tr>
            <td rowspan='3'>2020</td>
            <td>三千鴉殺</td>
            <td>覃川/阿滿</td>
        </tr>
        <tr>
            <td>傳聞中的陳芊芊</td>
            <td>陳小千/陳芊芊</td>
        </tr>
        <tr>
            <td>我，喜歡你</td>
            <td>顧勝男</td>
        </tr>
        <tr>
            <td rowspan='2'>2021</td>
            <td class="keyword">長歌行</td>
            <td>李樂嫣</td>
        </tr>
        <tr>
            <td>一不小心撿到愛	</td>
            <td>顧安心</td>
        </tr>
    </table>
    <br/>
    <br/>
    <br/>
    <br/>
    <h3>留言區:</h3>
    <% if(login==true){ %>
        <form action="/lusi" method="POST">
            <input type="hidden" value="趙露思" name="name">
            <h5>請輸入你想說的話:</h5>
            <input type="text" name="talk" placeholder="你的留言">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit">Submit</button>
            <h5>討論區:</h5>
        </form>
        <% if(title.length>0 ){ %>
            <% let i=0; %>
            <% let str="B"; %>
            <% title.forEach(blog =>{ %>
                <% if(blog.name=="趙露思"){ %>
                    <% i++; %>
                    <form action="/delete/lusi" method="post">
                            <span><a href='./reply/<%= blog.id %>'><%= str %><%= i %></a></span>
                            <input type="hidden" value="<%= blog.id %>" name="id">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button style="color:blue ; border:0px ; background-color:none" ; type='submit'>delete</button>
                            <span class='talk'><%= blog.talk %></span>
                        </form>
                        <br/>
                        <br/>
                        <form action="/reply" method="post">
                            <input type="hidden" value="<%= blog.id %>" name="id">
                            <input type="hidden" value="<%= blog.name %>" name="name">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="text" name="talk">
                            <button style="color:brown ; border:0px ; background-color:none" ; type='submit'>reply</button>
                        </form>
                        <hr/>
                    <% } %>
                <% }) %>
            <% }else{ %>
                <h5>沒有任何評論</h5>
            <% } %>
        <% }else{ %>
            <h5>請登入</h5>
        <% } %>
</body>
</html>